---
import { Icon } from "astro-icon";
import Link from "./Link.svelte";
import SocialImg from "./SocialImg.astro";

export interface Props {
    icon: string;
    href?: string;
    title: string;
    text?: string;
    id?: string;
    children?: any;
}

const { icon, href, text, id, title } = Astro.props;
---

<li id={id}>
    <Link href={href} class={"social-link"}>
        <SocialImg {icon} {title} />
        <span>{text}</span>
    </Link>
</li>

<style>
    .social-link {
        display: inline-flex;
        align-items: center;
    }
</style>
