---
import "normalize.css";
import "../styles/global.css";

import { z } from "zod";
import NavBar from "../components/NavBar.astro";
import CenteredBody from "../components/CenteredBody.astro";

const FrontMatterSchema = z.object({
    title: z.string(),
    description: z.string(),
    publishDate: z.coerce.date(),
    updateDate: z.coerce.date().optional(),
    section: z.string(),
    tags: z.string(),
});

const { title, description, publishDate, updateDate, section, tags } =
    FrontMatterSchema.parse(Astro.props.frontmatter);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="https://github.com/Vendicated.png?size=256" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content="Vendicated" />
        <meta name="theme-color" content="#dd7878" />

        <meta name="og:type" content="article" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
        <meta name="og:image" content="https://github.com/Vendicated.png" />

        <meta property="article:author" content="Vendicated" />
        <meta
            property="article:published_time"
            content={publishDate.toISOString()}
        />
        {
            updateDate != null && (
                <meta
                    property="article:modified_time"
                    content={updateDate.toISOString()}
                />
            )
        }
        <meta property="article:section" content={section} />
        {
            tags
                .split(",")
                .map(tag => (
                    <meta property="article:tag" content={tag.trim()} />
                ))
        }

        <link rel="stylesheet" href="/styles/prism-one-dark.css" />
    </head>
    <body>
        <header>
            <NavBar />
        </header>
        <CenteredBody>
            <article id="blog-body">
                <h1>{title}</h1>
                <p>{description}</p>
                <slot />
            </article>
        </CenteredBody>
    </body>
</html>

<style lang="scss">
    #blog-body {
        :global(pre) {
            padding: 1rem;
            border-radius: 5px;
        }
    }
</style>

<script>
    import "../scripts/global";
</script>
