---
import "normalize.css";
import "styles/global.css";

import NavBar from "components/NavBar.astro";
import CenteredBody from "components/CenteredBody.astro";

import { AUTHOR, AUTHOR_URL, ICON, THEME_COLOUR } from "scripts-ssr/constants";
import { BlogFrontmatterSchema } from "scripts-ssr/types";
import Footer from "components/Footer.astro";

const { title, description, publishDate, updateDate, section, tags } =
    BlogFrontmatterSchema.parse(Astro.props.frontmatter);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={ICON} />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content={AUTHOR} />
        <meta name="theme-color" content={THEME_COLOUR} />

        <meta name="og:type" content="article" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:image" content={ICON} />

        <meta property="article:author" content={AUTHOR_URL} />
        <meta
            property="article:published_time"
            content={publishDate.toISOString()}
        />
        {
            updateDate != null && (
                <meta
                    property="article:modified_time"
                    content={updateDate.toISOString()}
                />
            )
        }
        <meta property="article:section" content={section} />
        {
            tags
                .split(",")
                .map(tag => (
                    <meta property="article:tag" content={tag.trim()} />
                ))
        }

        <noscript>
            <link
                id="prism-theme"
                rel="stylesheet"
                href="/styles/prism-one-light.css"
            />
        </noscript>
    </head>
    <body>
        <header>
            <NavBar title="Ven's Blog" />
        </header>
        <CenteredBody>
            <article id="blog-body">
                <h1>{title}</h1>
                <p>{description}</p>
                <slot />
            </article>
        </CenteredBody>

        <Footer />
    </body>
</html>

<style lang="scss">
    #blog-body {
        :global(pre) {
            padding: 1rem 1rem;
            border-radius: 5px;
            background-color: var(--surface2);
            display: inline-block;

            :global(*) {
                background-color: unset;
            }
        }
    }
</style>

<script>
    import "scripts/global";

    function loadPrismTheme() {
        const theme = document.body.classList.contains("dark")
            ? "dark"
            : "light";
        document
            .getElementById("prism-theme")!
            .setAttribute("href", `/styles/prism-one-${theme}.css`);
    }

    document.addEventListener("themechange", loadPrismTheme);

    document.head.append(
        Object.assign(document.createElement("link"), {
            id: "prism-theme",
            rel: "stylesheet",
        })
    );

    loadPrismTheme();
</script>
