---
import "normalize.css";
import "../styles/global.css";

import NavBar from "../components/NavBar.astro";

import { AUTHOR, ICON, THEME_COLOUR } from "../scripts-ssr/constants";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={ICON} />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content={AUTHOR} />
        <meta name="theme-color" content={THEME_COLOUR} />

        <meta name="og:type" content="website" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:image" content={ICON} />
    </head>
    <body>
        <!-- Mastodon Link verification shenanigans -->
        <a rel="me" href="https://wetdry.world/@v"></a>
        <header>
            <NavBar title={title} />
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    a[rel="me"] {
        display: none;
    }
</style>

<script>
    import "../scripts/global";
</script>
